<%- weather = @weather[0]%>
<%- if weather["cod"] == 200 %>
  <h2>Current Weather for <%= weather["name"] %></h2>

  <table id="weather_table">
    <tr>
      <th>Current Weather</th>
      <td><%= weather['weather'].map{|w| w["description"].capitalize}.join("/") %></td>
    </tr>
    <tr>
      <th>Current Temperature</th>
      <td><%= weather['main']["temp"].round %>&deg;F <small>(feels like <%= weather['main']["feels_like"].round %>&deg;F)<small></td>
    </tr>
    <tr>
      <th>High Temp</th>
      <td><%= weather['main']["temp_max"].round %>&deg;F</td>
    </tr>
    <tr>
      <th>Low Temp</th>
      <td><%= weather['main']["temp_min"].round %>&deg;F</td>
    </tr>
    <tr>
      <th>Pressure</th>
      <td><%= weather['main']["pressure"]%><small>mb</small></td>
    </tr>
    <tr>
      <th>Humidity</th>
      <td><%= weather['main']["humidity"]%>%</td>
    </tr>
      <tr>
      <th>Wind</th>
      <td><%= weather['wind']["speed"].round%>mph</td>
    </tr>
    </tr>
      <tr>
      <th>Cloudiness</th>
      <td><%= weather["clouds"]['all'] %>%</td>
    </tr>
    </tr>
    <tr>
      <th>Visibility</th>
      <td><%= ((weather["visibility"] / 1000) / 1.609).round %>miles</td>
    </tr>
  </table>
<%- else %>
  <p>City Not Found</p>
<%- end %>



